.about{
    margin: 20rem 0;
    display: flex;
    justify-content: space-between;
    padding:0 6rem;
}
.a-left{
    flex:2;
    display: flex;
    flex-direction: column;
    
}

/* styling text */
.a-left>:nth-child(1){
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 1.875rem;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
}
.a-left>:nth-child(2){
    font-family: Arial;
    font-style: normal;
    font-weight: 634;
    font-size: 1.96rem;
    color: #FFFFFE;
}
.a-left>:nth-child(3){
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    color: #94A1B2;
}

.a-right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-logo{
    font-size: 15rem;
}
/* Tablet size */
@media screen and (max-width:768px){
    .about{
        
        margin: 20rem 0 !important;
        flex-direction: column-reverse;
        padding: 0rem 5rem;
        margin:0;
        justify-content: center;
        align-items: center;
        gap:2rem;
    }
    .a-left{
        flex: 1;
    }
    .a-right{
        flex: 1;
        align-items: flex-end;
    }
    .a-logo{
        font-size: 10rem;
    }
}
@media screen and (max-width:425px){
    .about{
        padding:0;
        height: 100vh;
      
    }
    
    .a-left>:nth-child(1){
        font-size: 1.125rem;
    }
    .a-left>:nth-child(2){
        font-size: 1.313rem;
    }
    .a-left>:nth-child(3){
        font-size:0.938rem;
    }
}